<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PharmAdjContainer" connectionString="metadata=res://*/PharmAdj.csdl|res://*/PharmAdj.ssdl|res://*/PharmAdj.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDENISON-PC\SQLEXPRESS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PharmacyClaimAdjudicatorEntities" connectionString="metadata=res://*/PharmacyAdjFromDatabase.csdl|res://*/PharmacyAdjFromDatabase.ssdl|res://*/PharmacyAdjFromDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDENISON-PC\SQLEXPRESS;initial catalog=PharmacyClaimAdjudicator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PharmacyAdjudicator.DataAccess.Properties.Settings.PharmacyClaimAdjudicatorConnectionString" connectionString="Data Source=SDENISON-PC\SQLEXPRESS;Initial Catalog=PharmacyClaimAdjudicator;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>